name: "Auto Merge Development to Main"

on:
  push:
    branches:
      - development

jobs:
  test-and-merge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Merge to main
        env:
          PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git fetch origin
          git checkout main
          git merge origin/development --no-ff -m "Auto-merge from development"
          git push https://x-access-token:${PERSONAL_ACCESS_TOKEN}@github.com/${{ github.repository }} main
