name: "Auto Merge Development to Main"


on:
  push:
    branches:
      - development

jobs:
  test-and-merge:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3.0.0
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v4.0.0
        with:
          python-version: '3.x'


      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run tests
        run: |
          pytest

      - name: Merge to main
        if: success()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout main
          git merge development --no-ff -m "Auto-merge from development"
          git push origin main